body {
  background-color: #b2d6ee;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
header button,
header span {
  width: 200px;
  height: 40px;
  text-align: center;
  margin: 20px;
  background-color: #ffffff;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  border-radius: 10px;
}

header span {
  float: right;
  border: solid black 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 80px;
  border-bottom: solid black 1px;
  background-color: #8ec5fc;
  background-image: linear-gradient(225deg, #8ec5fc 0%, #e0c3fc 100%);
}

/* all elements inside the wrapper are hidden by default, until given the .displayed class by javascript */
.questionElements,
.informResult,
.introPage,
.finishPage,
.highScorePage {
  display: none;
}

.wrapper {
    border: solid #ffffff 3px;
  border-radius: 8px;
  padding: 20px;
  display:inline-block;
  max-width: 600px;
  position: relative;
  margin-top: 100px;
background-color: #BBD8B3;
}

/* All elements inside of wrapper are display: none by default; when they are given the class "displayed" this gives them display: block */
.displayed {
  display: block;
}

.introPage.displayed {
  text-align: center;
}

h1.displayed {
  font-size: 150%;
}

p.introPage.displayed {
  margin: 15px 0;
}



button.introPage.displayed {
  --width: 200px;
  width: var(--width);
  height: 50px;
  position: relative;
  left: calc(50% - var(--width) / 2);
}

.questionHeading.displayed {
  font-size: 150%;
min-height: 48px;
}

.answersList li {
  user-select: none;
 width: 300px;
  font-size: 130%;
  line-height: 30px;
  min-height:40px;
  margin: 8px;
  margin-left: 0px;
  background-color: #D5C6E0;
  padding: 5px;
  border-radius: 5px;
  border: solid black 1px;
}

button:hover, .answersList li:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.informResult.displayed {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  border-top: solid black 3px;
  opacity: 50%;
}

p.finishPage.displayed {
  margin-top: 15px;
}

label.finishPage.displayed {
  display: inline;
}

input.finishPage.displayed {
  margin-top: 15px;
  display: inline;
  width: 50px;
}

button.finishPage.displayed {
  margin-top: 15px;
  width: 200px;
  height: 40px;
    margin: 15px auto 0 auto;
}

#highScoreList li {
  background-color: #2E4052;
  color: white;
  width: 300px;
  font-size: 130%;
  line-height: 30px;
  min-height:40px;
  margin: 8px;
  margin-left: 0px;
  padding: 5px;
  border-radius: 5px;
  border: solid black 1px;
}

h1.highScorePage.displayed {
  margin-bottom: 20px;
  display:inline-block;
}
#clearHighScoresBtn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 8px;
}

@media screen and (max-width: 520px) {
  header button,
  header span {
    width: 110px;
  }
.answersList li, #highScoreList li {
  width: 255px;
}
  .wrapper {
    margin-top: 10px;
    width: 300px;
  }
}
